.verticalAlignParent
{
    font-size: 60px;
    color : white;
}
.imageDim
{
    height: 60px;
    width: 100px;
}
.verticalAlignTextBottom
{
    vertical-align : text-bottom;
}
.navigationBar
{
    background-color : black;
    overflow : hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigationBar a
{
    float : right;
    color : white;
    text-align: center;
    text-decoration: none;
}
.navigationBar a:hover
{
    background-color: hsl(251, 25%, 42%);
    color : white;
}
.navigationBar a.active
{
    background-color: rgb(90, 90, 145);
    color : white;
}
.backgroundText
{
    padding-top: 150px;;
    text-align : center;
    color : white ;
    font-size : 50px;
    text-decoration-color: antiquewhite;
}
.background
{
    width : 100%;
    height : 350px;
    background-color : white;
    background-image : url("tinytan.jpg");
    background-position : center;
    background-size : cover;
    background-repeat : no-repeat;
    opacity : 70%;
}
.border
{
    border-width : 5px;
    border-color: white;
    border-style: double;
}
.text
{
    text-align : center;
    color : white;
    font-size : 50px;
    text-decoration: underline double 3px;
}
.verticalAlignParent1
{
    text-decoration: underline white 2px;
    font-size: 30px;
    color : white;
}
.verticalAlignParent2
{
    text-decoration: underline white 2px;
    font-size: 30px;
    color : white;
    text-indent : 10px;
}
.text1
{
    color : white;
    font-size : 20px;
    line-height: 20px;
    white-space : pre-line;
    word-spacing : 8px;
    text-align: center;
}
.image1
{
    float : right;
    height: 440px;
    width: 705px;
}
.image2
{
    float : left;
    height : 440px;
    width : 705px;
}
.text2
{
    color : white;
    font-size : 20px;
    line-height: 20px;
    white-space : pre-line;
    word-spacing : 8px;
    text-align: center;
}
.footer
{
    color : white;
    font-size : 15px;
    text-align: center;
}
.text3
{
    color : white;
    font-size : 30px;
    text-align :center;
}
.form
{
    font-size : 30px;
}
.text4
{
    color : white;
    font-size : 20px;
    text-align :left;
}
